



nav{
        text-align: center;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: black;
            position: ;
            margin-top: 5px;

        }
        ul{
            font-size: 1.25rem;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        a{ text-decoration: none; }
       
        .last-menu{
            display: flex; }
        .last-menu li a{
            color: white;
           padding: 25px;
           margin-top: 5px;
       }

       .home{
        text-align: right;
        color: orange;
        margin-left: 100px;

       }
       .item{margin-left:10px;}
        .t{ color: orange;}
         .d{color: orange;}
        .logo{ margin-left: 70px;}
  .i1{
   max-height: 1rem;
   margin-top: 5px;
  }
  .i2{
    max-height: 1rem;
    margin-left: 120px;
}

.headdiv{
  height: 300px;
  width: 100%;
  background-color:rgba(120,120,128,1)



}

.child1{
  height: 200px;
  width: 500px;
  /* color: green; */
  position: absolute;
  left: 700px;
  /* font-size: 100px;  */
  top: 200px;

}
.p1{
  font-size: 35px;

}
.p2{
  font-size: 15px;
}
.span1{
  color: red;
}
